@charset "utf-8";
/*body{
  background-color: eee;
}  */
/* esta parte es para el menu que las paginas comparten */
.menu {
    width: 100%;
    list-style-type: none;
    overflow:  hidden;
    text-align:left;
    background-color: rgb(54, 51, 51);
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  
.menu li {
    /* display:inline-block; */
    float: left;
  }
  
.menu li a {
    color: azure;
    padding: 10px;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
    display: block;
}
/*li:hover{
    background-color: rgb(24, 24, 24);
}
.contenedorpadre{
  margin-top: 55px;
}   */
h1{
    text-align: center;
    font-size: 42px; 
}

/* El footer que las paginas comparten */

footer{
  text-align: center;
  background-color: rgb(54, 51, 51);
  margin-left: 0;
  margin-bottom: 0;
  
  width: 100%;
  display: inline-block;
}
footer p{
  display: inline-block;
  color: azure;
  font-size: xx-large;
}
footer a{
  color: azure;
    padding: 10px;
    font-size: x-large;
    text-decoration: none;
    text-align: left;
    display: inline-block;
}
.fa {
  padding: 20px;
  font-size: 45px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa-home,.fa-envelope,.fa-user-circle-o, .fa-bars{
  font-size: 38px;
  text-align: left;
  padding: 3px;

}

.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}




/*.fas {
  padding: 20px;
  font-size: 45px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa-home{
  font-family: "Font Awesome 5 Free";
  content: "\f015";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}*/
/* A partir de aqui es para el formulario de contacto.html */

.caja{
  background-color: white;
  /* padding: 12px 20px; */
  border-radius: 6px;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  width: 70%;
  margin-left: 15%;
}
input[type=text],input[type=email], textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit]{
  width: 100%;
  background-color: rgb(68, 136, 0);
  color: white;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-large;
  text-align: center;
}

/*Elementos div de pagina home*/
img{
  width: 100%;
  height: 40%; 
}
.columna1 {
  position: relative;
  left: 10%;
  width: 350px;
  height: 600px;
  float: left;
  overflow: auto;
} 

 .columna2{ 
  position: relative;
  left: 13%;
  width: 350px;
  height: 600px;
  display: inline-block;
  float: left;
} 

.columna3{
  position: relative;
  left: 16%;
  width: 350px;
  height: 600px;
  display: inline-block;
  float: left;
} 

 
