@charset "utf-8";
.menu {
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    text-align:left;
    background-color: rgb(54, 51, 51);
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
  }

  
.menu li {
    /* display:inline-block; */
    float: left;
  }
  
.menu li a {
    color: azure;
    padding: 10px;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
    display: block;
}
li:hover{
    background-color: rgb(24, 24, 24);
}
.contenedorpadre{
  margin-top: 55px;
}
h1{
    text-align: center;
    
}
